.btn {
    width: 97px;
    height: 27px;
    background: 
    #0f7773
    ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 20px;
    color:white;
    border:none; 
    font-weight: 600;
    font-family: var(--body-font);
}

.btn:hover{
   color: var(--first-color-third);
    background-color: var(--first-color-second);
}