/*
.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
*/
.modal {
    width: 400px;
    height: 250px;
    color: #fff;
    background: #6929c4;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    z-index: 90;
    top: calc(50% - 145px);
    left: calc(50% - 220px);
    display: flex;
    flex-direction: column;
  }
  
  .modal-close-button {
    padding: 16px;
    background-color: #fff;
    color: #6929c4;
    font-size: 1em;
    border: none;
    margin-top: 16px;
    width: 90%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
  }
  
  .modal-close-button:hover,
  .modal-close-button:focus {
    background-color: #e8daff;
  }
  