footer {
    margin-top:30px;
    /*width:100vw;*/
    background: #F6F9FC;
    display:flex;
    justify-content: center;
    bottom: 0;
    width:100vw;
}
.contentContainer {
    width:1200px;
    bottom:0;
    padding:10px;
    left:0;
    right:0;
    height:30px;
    display:flex;
    align-items: center;
    color:#8291A0;
}


.contentContainer a {
    color:black;
    position:relative;
    margin-left: auto;
}
