footer {
    margin-top:30px;
    /*width:100vw;*/
    max-width: 100%;
    background: #0e7572;
    display:flex;
    justify-content: center;
    bottom: 0;
    left:0;
    right:0;
    width:100%;}
.contentContainer {
    padding:10px;
    width:1000px;
    left:0;
    right:0;
    height:40px;
    display:flex;
    align-items: center;
}


.contacts-links i {
    color: white;
}
.contacts-links {
    display:flex;
    gap:10px;
}


@media (max-width:1000px) { 
    .contentContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:850px;
    };
}

.contact-year {
    align-self: flex-end;
}