
:root {
  --first-color: #353538;
  --first-color-second: white;
  --first-color-alt: #929091;
  --first-color-third: #0e7572;

  --body-font: 
  "Basier Circle", sans-serif;;

  --big-font-size: 76px;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.85rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

body {
 font-family: var(--body-font);
 overflow-x: hidden;
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: 400;
}

h1 {  font-size: var(--h1-font-size);
}

h3{
  font-size: var(--h3-font-size)
  ;
}

p {
  font-size: 12px;
  font-weight: 330;
  letter-spacing:0.2px;
  line-height: 24px;
}
